<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Karen N. </h1>
    <p>Hello there. Welcome.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> NYC Favorites </h3>
      <ul>
        <li>5Pointz</li>
        <li>The Metropolitan Opera</li>
        <li>Fiat Cafe</li>
        <li>Absolute Bagel</li>
        <li>Columbia University</li>
      </ul>
    </div>
    <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> NYC Favorites </h3>
      <ul>
        <li>5Pointz</li>
        <li>The Metropolitan Opera</li>
        <li>Fiat Cafe</li>
        <li>Absolute Bagel</li>
        <li>Columbia University</li>
      </ul>
    </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> NYC Favorites </h3>
      <ul>
        <li>5Pointz</li>
        <li>The Metropolitan Opera</li>
        <li>Fiat Cafe</li>
        <li>Absolute Bagel</li>
        <li>Columbia University</li>
      </ul>
    </div>
  </div> <!-- row -->
    <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> NYC Favorites </h3>
      <ul>
        <li>5Pointz</li>
        <li>The Metropolitan Opera</li>
        <li>Fiat Cafe</li>
        <li>Absolute Bagel</li>
        <li>Columbia University</li>
      </ul>
    </div>
    <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-info-sign"></span> NYC Favorites </h3>
      <ul>
        <li>5Pointz</li>
        <li>The Metropolitan Opera</li>
        <li>Fiat Cafe</li>
        <li>Absolute Bagel</li>
        <li>Columbia University</li>
      </ul>
    </div>
    </div>

</div>


</body>
</html>
